@import "../../../../node_modules/ng-devui/styles-var/devui-var";
.card-item {
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(25% - 16px);
  background-color: $devui-base-bg;
  cursor: pointer;
}

