<div class="sidebar-container top-0">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
    <a routerLink="/items/item-list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <i class="icon icon-marketplace"></i>
      <span class="f3-4">Market</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/items/item-list" class="nav-link link-body-emphasis fs-6" aria-current="page">
          <i class="icon icon-search" style="font-size: 16px"></i>
          Browse All
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/map" class="nav-link link-body-emphasis fs-6">
          <i class="icon icon-gps" style="font-size: 16px"></i>
          Browse All in Map
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/items/item-add" class="nav-link link-body-emphasis fs-6">
          <i class="icon icon-all-project" style="font-size: 16px"></i>
          Selling
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a href="#" class="nav-link link-body-emphasis fs-6">
          <i class="icon icon-buy" style="font-size: 16px"></i>
          Buying
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a href="#" class="nav-link link-body-emphasis fs-6">
          <i class="icon icon-notice" style="font-size: 16px"></i>
          Notification
        </a>
      </li>
    </ul>
    <hr>
<!--    position-fixed bottom-0 start-0-->
    <div class="dropdown" style="float: right">
      <div class="btn-group" dDropDown (toggleEvent)="onToggle($event)">
        <img src="{{profile_img_id}}" alt="" width="32" height="32" class="rounded-circle me-2">
        <d-icon dDropDownToggle [icon]="'icon-select-arrow'" [operable]="true" [rotate]="rotateDegrees">
          <span iconPrefix>{{username}}</span>
        </d-icon>
        <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
          <li role="menuitem" routerLinkActive="active">
            <a dDropDownMenuItem routerLink="/users/profiles">Profile</a>
          </li>
          <li role="menuitem" routerLinkActive="active">
            <a dDropDownMenuItem routerLink="/users/user-item-list">My Items</a>
          </li>
          <li role="menuitem" routerLinkActive="active">
            <a dDropDownMenuItem routerLink="/users/user-signup">Sign Up</a>
          </li>
          <li role="menuitem" routerLinkActive="active">
            <a dDropDownMenuItem routerLink="/users/user-login">Log in</a>
          </li>
          <li role="menuitem">
            <a dDropDownMenuItem (click)="logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
