<div class="container-fluid">

  <google-map
    height="700px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfo(markerElem, marker.info)"
      (mapDblclick)="goToItemDetail(marker.itemID)"
    >
    </map-marker>
    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>
</div>
