<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Dashboard</h3>
  </div><iframe class="d-lg-flex align-items-lg-center" allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnRB4qa2YPreHaPelqeIs7vUxZtUTNQBM&amp;q=university+at+albany%2C+new+york&amp;zoom=14" width="100%" height="602"></iframe>
  <hr>
  <div data-reflow-type="product-list" data-reflow-shoppingcart-url="ShoppingList.html" data-reflow-layout="cards" data-reflow-page="1" data-reflow-order="date_desc"></div>
</div>
