<div class="text-start"><i class="fas fa-dragon" style="padding-right: 0px;"></i></div>
<hr>
<ul class="nav nav-tabs nav-justified text-light" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link" href="index.html" style="margin-left: 0px;padding-left: 15px;margin-right: -40px;padding-right: 60px;">
      <span>Cart</span></a>
    <a class="nav-link" href="index.html" style="margin-left: 0px;padding-left: 15px;margin-right: -40px;padding-right: 60px;">
      <span>Buying</span></a>
    <a class="nav-link" href="index.html" style="margin-left: 0px;padding-left: 15px;margin-right: -40px;padding-right: 60px;">
      <span>Selling</span></a>
  </li>
</ul>
