
<div class="container my-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="fw-bold mb-4">Add Item for Sale</h2>
      <form (submit)="onSubmit()">
        <div class="mb-3">
          <label for="itemName" class="form-label">Item Name</label>
          <input type="text" class="form-control" id="itemName" placeholder="Enter item name" [(ngModel)]="body.itemName" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="itemDescription" class="form-label">Item Description</label>
          <textarea class="form-control" id="itemDescription" rows="3" placeholder="Enter item description" [(ngModel)]="body.itemDescription" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="mb-3">
          <label for="itemPrice" class="form-label">Price</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" id="itemPrice" placeholder="Enter price" [(ngModel)]="body.other" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="mb-3">
          <label for="itemLocation" class="form-label">Location</label>
          <input #autocomplete type="text" class="form-control" id="itemLocation" placeholder="Enter item location">
        </div>
        <div class="mb-3">
          <label for="itemImage" class="form-label">Image</label>
          <input type="text" class="form-control" id="itemImage"  [(ngModel)]="body.itemImgId" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>
    </div>
  </div>
</div>
