<div
  class="card-item">
  <d-card-header>
    <d-avatar dCardAvatar [imgSrc]="item.itemImageURL"></d-avatar>
    <d-card-title>{{item.itemName}}</d-card-title>
    <d-card-subtitle><span>{{item.itemPrice}}</span></d-card-subtitle>
  </d-card-header>

  <img dCardMeta [src]="item.itemImageURL">
  <d-card-content>
    {{item.itemDescription}}
  </d-card-content>

  <d-card-actions [align]="'spaceBetween'">
    <d-button bsStyle="primary"> Confirm </d-button>
    <d-button bsStyle="common"> Cancel </d-button>
  </d-card-actions>
</div>
