<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-2 mt-md-2 pb-5">
              <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                <p class="text-white-50 mb-2">Please enter your username, email, location and password!</p>

                <div class="form-outline form-white mb-2">
                  <input type="text" id="typeUserName" class="form-control form-control-lg" required ngModel name="userName" />
                  <label class="form-label" for="typeUserName" >Username</label>

                  <input type="email" id="typeEmail" class="form-control form-control-lg" required ngModel name="email" email/>
                  <label class="form-label" for="typeEmail">Email</label>

                  <input type="password" id="typePassword" class="form-control form-control-lg" required ngModel name="password"/>
                  <label class="form-label" for="typePassword">Password</label>

                  <input type="text" id="typeLocation" class="form-control form-control-lg" required ngModel name="location"/>
                  <label class="form-label" for="typeLocation">Location</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!authForm.valid">Sign Up</button>
              </form>

            </div>

            <div>
              <p class="mb-0">Have a account? <a href="#!" class="text-white-50 fw-bold">Sign In</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


